<ion-header>

  <ion-navbar>
    <ion-title>{{note?.title}}</ion-title>
		<ion-buttons end *ngIf="newNote == true" (click)="registerNote()">
			<button ion-button>
				<ion-icon name="checkmark"></ion-icon>
			</button>
		</ion-buttons>
		<ion-buttons end *ngIf="newNote == false" (click)="presentActionSheet()">
			<button ion-button>
				<ion-icon name="more"></ion-icon>
			</button>
		</ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
	{{validation_status}}

	<ion-list inset>
		<ion-item>
			<ion-label>Status</ion-label>
			<ion-select [ngModel]="note?.validation_status" (ngModelChange)="updateValidationStatus($event)">
				<ion-option value="En cours">En cours</ion-option>
				<ion-option value="Validée">Validée</ion-option>
				<ion-option value="Payée">Payée</ion-option>
				<ion-option value="Refusée">Refusée</ion-option>
			</ion-select>
		</ion-item>
	</ion-list>

	<button ion-button float right (click)="addLigne()"> <ion-icon name="add"></ion-icon> Ajouter une ligne</button>

	<ion-list>
		<ion-item *ngFor="let ligne of note?.children" (click)="openLigne(ligne)">
			<ion-thumbnail item-start>
				<!-- <img src="img/thumbnail-totoro.png"> -->
			</ion-thumbnail>
			<h2>{{ ligne.title }}</h2>
			<p>{{ligne.tax_inclusive_amount}}€<sup>TTC</sup>  {{ligne.tax_amount}}€<sup>TVA</sup></p>
			<button ion-button clear item-end>View</button>
		</ion-item>
	</ion-list>

</ion-content>
