<ion-header>

  <ion-navbar>
		<ion-buttons left>
			<button ion-button (click)="cancelEdit()">Annuler</button>
		</ion-buttons>

		<ion-title>{{ligne?.title}}</ion-title>

		<ion-buttons end>
			<button ion-button (click)="saveEdit(editLigne)">Enregistrer</button>
		</ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

	<form [formGroup]="editLigne">
		<ion-item>
			<ion-label>Date</ion-label>
			<ion-datetime displayFormat="DD/MM/YYYY" formControlName="date"></ion-datetime>
		</ion-item>
		<ion-item>
			<ion-label>Libellé</ion-label>
			<ion-input type="text" formControlName="title"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Type de note</ion-label>
			<ion-select formControlName="type_note_id" #select (ngModelChange)="changeType(select.value)">
				<ion-option *ngFor="let type of type_note" value="{{type.id}}">{{type.name}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item *ngIf="controlKm">
			<ion-label>Km</ion-label>
			<ion-input type="number" formControlName="distance"></ion-input>
		</ion-item>
		<ion-item *ngIf="controlKm == false">
			<ion-label>TTC (€)</ion-label>
			<ion-input type="number" formControlName="tax_inclusive_amount"></ion-input>
		</ion-item>
		<ion-item *ngIf="controlKm == false">
			<ion-label>TVA Récup. (€)</ion-label>
			<ion-input type="number" formControlName="tax_amount"></ion-input>
		</ion-item>
		<ion-item>
			<button ion-button (click)="uploadPicture()">Photo</button>
		</ion-item>
	</form>

</ion-content>
