<ion-header>

	<ion-navbar>
		<ion-title>Mes notes</ion-title>
		<ion-buttons end (click)="createNote()">
			<button ion-button>
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>

<ion-content class="page-liste-note">
  <ion-card *ngFor="let note of listeNote" (click)="openNote(note.id)">

    <ion-item>
      <h2>{{ note.title }}</h2>
			<p>
				<span class="validation-dot {{ note.validation_status | sanitizeString }}"></span>
				{{ note.validation_status }}
			</p>
    </ion-item>

    <ion-card-content>
			<ion-row>
				<ion-col>
					<p>TVA</p>
					<p>{{ note.tax_amount }}€</p>
				</ion-col>
				<ion-col>
					<p>TTC</p>
					<p>{{ note.tax_inclusive_amount }}€</p>
				</ion-col>
			</ion-row>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='text'></ion-icon>
          <span (click)="deleteNote(note)">Supprimer</span>
        </button>
      </ion-col>
      <ion-col text-center>
        <ion-note>
          {{ note.date_modified.date_human_readable }}
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
	<div class="async-message" *ngIf="listeNote == undefined">
		{{errorMessage}}
	</div>
</ion-content>
